*{
    padding:0;
    margin:0;
}
.total{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background:linear-gradient(to bottom , #E1A2B8,#9F2BC1); 
}
#container{
    display:flex;
    justify-content: stretch;
    flex-direction: column;
    background-color: aqua;
    height: 300px;
    width: 400px;
    margin:0 auto;
}
#res{
    overflow:auto;
    background-color: aqua;
    height: 150px;
    text-align: right;
    font-size: 75px;
}
#btns{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    outline: none;
    border: none;
}
.btn:hover{
    background: #2c266b;
    color:white;
    cursor: pointer;
}
.btn{
    font-size: 75px;
    width:100px;
    border: none;
}
#btnClr{
    background-color:red;
    color:white;
    outline: none;
    border: none;
}
#btnEql{
    background-color:green;
    color:white;
}
@media only screen and (max-width: 500px) {
    #container{
        height: 120px;
        width: 200px;
    }
    #res{
        height: 70px;
        text-align: right;
        font-size: 30px;
    }
    .btn{
        font-size: 30px;
        width:50px;
        border: none;
    }
}